# Files and directories created by pub
.packages
.buildlog
.pub/
build/
dist/
node_modules/
packages
pubspec.lock

# Files created by dart2js
*.dart.js
*.part.js
*.js.deps
*.js.map
*.info.json

# Directory created by dartdoc
doc/api/

# JetBrains IDEs
.idea/
*.ipr
*.iws

# Build resources
dist
.dart_tool
